<?xml version="1.0"?>

<launch>
   <include file="$(find carmen_sim)/launch/includes/carmen_gazebo.launch.xml" />
   <include file="$(find carmen_sim)/launch/includes/gmapping.launch.xml" />
   <include file="$(find carmen_sim)/launch/includes/move_base.launch.xml" />
   <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="carmen_sim_teleop"  output="screen" />
   <include file="$(find carmen_driver)/launch/teleop_joystick.launch" />
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find carmen_sim)/launch/rviz/mapping.rviz"/>   
</launch>
