<?xml version="1.0"?>
<launch>

  <!--start hokuyo laser scanner node -->
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
      <!-- Set the port to connect to here -->
      <param name="port" type="string" value="/dev/ttyACM0"/>
      <!-- Starts up faster, but timestamps will be inaccurate. --> 
      <param name="calibrate_time" type="bool" value="false"/>         
  </node>

  <!--start carmen driver node -->
  <node name="carmen_driver" pkg="carmen_driver" type="carmen_driver_node" output="screen">
   <!-- <rosparam file="$(find carmen_driver)/config/driver.yaml" command="load" />  -->
  </node>

    <!-- Publish static transformation between stereo camera and base link -->
  <!-- /camera_link frame (x-axis right, y-axis down and z-axis forward)
      but in the /world frame (x-axis forward, y-axis left, z-axis up). 
      To do that, we use a static_transform_publisher to add a transform between /base_link and /camera_link
    -->
    <arg name="dir"  default="file:///home/mpig/mpig_catkin_ws/src/carmen_robot/camera_info"/>    <!-- The directory of carmera parameters     -->
    <arg name="pi/2" value="1.5707963267948966" />
    <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />
    <node pkg="tf" type="static_transform_publisher" name="camera_to_base"
          args="$(arg optical_rotate) base_link stereo_camera 100" />  
    <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="0.0 0.0 0.0 0 0 0.0 base_link laser 100"/>


      <!-- call carmera1394 stereo driver -->
    <node pkg="camera1394stereo" type="camera1394stereo_node" name="camera1394stereo_node" output="screen" >
      <param name="video_mode" value="format7_mode3" />
      <param name="format7_color_coding" value="raw16" />
      <param name="bayer_pattern" value="bggr" />
      <param name="bayer_method" value="" />
      <param name="stereo_method" value="Interlaced" />
      <param name="camera_info_url_left" value="$(arg dir)/stereo_left.yaml" />
      <param name="camera_info_url_right" value="$(arg dir)/stereo_right.yaml" />
    </node>

</launch>	